body {
  background-color: #3128da;
}

.button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin-left: 435px;
}

h1 {
  font-size: 58px;
  font-weight: bold;
  color: rgb(84, 13, 38);
  text-shadow: 5px 5px 8px greenyellow;
  text-align: center;
}

p {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.button:hover {
  background-color: rgb(191, 18, 234);
}
