body {
  background-image: url(https://img.freepik.com/free-vector/grunge-retro-spiral-background_1017-27840.jpg?w=1060&t=st=1700263004~exp=1700263604~hmac=83467506b56892564c0e0695792215745b69a51d3c119f60f16e3390fad386ee);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 300px;
  height: 50px;
  font-size: 15px;
  margin-left: 700px;
  margin-top: 200px;
}
